bin/
obj/
bin/
FodyWeavers.xsd
FodyWeavers.xml
/.vs/
/.idea/
LotusCosmetics.sln.DotSettings.user

/LotusCosmetics.Addon/assets/LotusCosmetics.ccb
/LotusCosmetics.Bootstrapper/assets/LotusCosmetics.dll

